In [1]:
#Importing the necessary Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
trainset = pd.read_csv('train_cleaned.csv')
trainset

,Area,Price_log,Awae,Bastos,Bonaberi,Bonamoussadi,Bonapriso,Japoma,Kotto,Kribi,...,Nkoabang,Nyalla,Odza,Omnisports,PK12,PK14,PK16,Rare quartier,Soa,Yassa
0,500.0,7.824046,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2000.0,9.740969,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,522.0,14.034816,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,266.0,9.615805,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1000.0,8.699515,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2211,2005.0,12.206073,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2212,3000.0,8.006368,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2213,588.0,9.741380,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2214,500.0,9.798127,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2215,700.0,10.596635,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [5]:
testset = pd.read_csv('test_cleaned.csv')
testset

,Area,Price_log,Awae,Bastos,Bonaberi,Bonamoussadi,Bonapriso,Japoma,Kotto,Kribi,...,Nkoabang,Nyalla,Odza,Omnisports,PK12,PK14,PK16,Rare quartier,Soa,Yassa
0,500.0,10.126631,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,480.0,11.156251,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,915.0,12.323856,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2810.0,11.002100,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1000.0,8.987197,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,500.0,11.002100,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
550,300.0,9.903488,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
551,450.0,9.711116,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
552,600.0,10.915088,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
553,500.0,13.122363,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
X = trainset.drop('Price_log',axis = 1)
X

,Area,Awae,Bastos,Bonaberi,Bonamoussadi,Bonapriso,Japoma,Kotto,Kribi,Lendi,...,Nkoabang,Nyalla,Odza,Omnisports,PK12,PK14,PK16,Rare quartier,Soa,Yassa
0,500.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2000.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,522.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,266.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1000.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2211,2005.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2212,3000.0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2213,588.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2214,500.0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2215,700.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [11]:
Y = trainset['Price_log']

0        7.824046
1        9.740969
2       14.034816
3        9.615805
4        8.699515
          ...
2211    12.206073
2212     8.006368
2213     9.741380
2214     9.798127
2215    10.596635
Name: Price_log, Length: 2216, dtype: float64

In [12]:
# Hyper Parameter Optimization
params ={
    "learning_rate"       : [.05, 0.10, 0.15, 0.20, 0.25, 0.30 ],
    "max_depth"           : [3, 4, 5, 6, 8, 10, 12, 15],
    "min_child_weight"    : [1, 3, 5, 7 ],
    "gamma"               : [0.0, 0.1, 0.2, 0.3, 0.4],
    "colsample_bytree"    : [0.3, 0.4, 0.5, 0.7]
    
}

In [13]:
#Hyperparameter optimzation using Randomized SearchCV
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
import xgboost
#from numpy import nan

In [14]:
regressor = xgboost.XGBRegressor()

In [15]:
random_search = RandomizedSearchCV(regressor,param_distributions=params,n_iter=5,scoring='neg_mean_squared_error', n_jobs=-1,cv=5,verbose=3)

In [16]:
random_search.fit(X,Y)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

RandomizedSearchCV(cv=5,
                   estimator=XGBRegressor(base_score=None, booster=None,
                                          colsample_bylevel=None,
                                          colsample_bynode=None,
                                          colsample_bytree=None, gamma=None,
                                          gpu_id=None, importance_type='gain',
                                          interaction_constraints=None,
                                          learning_rate=None,
                                          max_delta_step=None, max_depth=None,
                                          min_child_weight=None, missing=nan,
                                          monotone_constraints=None,
                                          n_estimators=100, n...
                                          scale_pos_weight=None, subsample=None,
                                          tree_method=None,
                                          validate_parameters=None,
                                          verbosity=None),
                   n_iter=5, n_jobs=-1,
                   param_distributions={'colsample_bytree': [0.3, 0.4, 0.5,
                                                             0.7],
                                        'gamma': [0.0, 0.1, 0.2, 0.3, 0.4],
                                        'learning_rate': [0.05, 0.1, 0.15, 0.2,
                                                          0.25, 0.3],
                                        'max_depth': [3, 4, 5, 6, 8, 10, 12,
                                                      15],
                                        'min_child_weight': [1, 3, 5, 7]},
                   scoring='neg_mean_squared_error', verbose=3)

In [17]:
random_search.best_estimator_

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.3, gamma=0.0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.25, max_delta_step=0, max_depth=10,
             min_child_weight=3, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [18]:
random_search.best_params_

{'min_child_weight': 3,
 'max_depth': 10,
 'learning_rate': 0.25,
 'gamma': 0.0,
 'colsample_bytree': 0.3}